@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: sans-serif;
}

.container {
  background-image: url("./assets/image/Bg-banner.jpg");
  height: 70vh;
  color: #fff;
}

.logo {
  margin-left: 9%;
}
nav {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
}
.nav-links li  :hover{
  color: rgb(31, 185, 190);
}


.nav-text {
  margin-right: 10%;
}

.nav-text h3 {
  font-size: 16px;
  font-weight: 300;
}
.nav-text h4 {
  font-size: 14px;
  font-weight: 300;
}

#navar-number{
  font-weight: 700;
}

/* --------------------------------hero------------------------------------------------- */

.hero-text {
  text-shadow: 0 0 15px #0f0f0f;
  font-size: 20px;
  color: #fff;
  margin-top: 270px;
  text-align: end;
  margin-right: 12%;
}

/* ---------------------------------------section-------------------------------------------- */

.section {
  display: flex;
  margin: 100px 200px;
}

.section-content {
  flex: 70%;
}

.section-content-h1 {
  width: 550px;
}

.section-content-h1 {
  margin-top: 10px;
}

.section-content-h1 p {
  margin-top: 20px;
  color: rgb(109, 107, 107);
  font-weight: 300;
}
.section-content-h1 p a {
  color: #008080;
}

.section-content-h2 {
  width: 550px;
  margin-top: 100px;
}

.section-content-h2 h2 {
  margin-top: 5px;
}

.section-content-h2 ul {
  margin: 20px;
  color: rgb(109, 107, 107);
  font-weight: 300;
}

.section-content-h3 {
  width: 550px;
  margin-top: 50px;
}

.section-content-h3 h3 {
  margin-top: 5px;
}

.section-content-h3 p {
  margin-top: 20px;
  color: rgb(109, 107, 107);
  font-weight: 300;
}
.section-content-h3 p a {
  color: #008080;
}

.section-content-nested {
  background: rgb(248, 242, 242);
  margin: 10px 0px 10px 0px;
  padding: 5px;
}

.section-content-nested h3 {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 40px;
}
#active-color {
  color: #07cccc !important;
}

/* -----------------------------------------accordian----------------------------------------- */
.section-Accordian {
  flex: 30%;
  background: rgb(23, 2, 43);
  color: #fff;
  height: 100%;
  margin-top: 10px;
  padding: 20px 0 30px 0;
}

.section-Accordian h2 {
  padding: 20px;
  text-align: center;
}
.accordion {
  background-color: rgb(23, 2, 43);
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  padding: 10px 30px;
}

.active,
.accordion:hover {
  background-color: rgb(46, 110, 100);
}

.accordion:after {
  content: "\002B";
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel ul li {
  list-style: none;
  margin: 10px;
  font-size: 12px;
  margin-left: 50px;
  text-align: start;
}

.panel ul li:hover {
  background-color: rgb(46, 110, 100);
}

.icon {
  padding-right: 10px;
}

/* ---------------------------------------------------footer------------------------------------------ */

.footer-section {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.footer-section-form {
  background-color: #008080;
  flex: 50%;
}

.footer-form h1 {
  margin-left: 25%;
  margin-top: 50px;
}

.footer-form p {
  margin-left: 25%;
}

#footer-bold {
  font-weight: bolder;
}

.footer-form input {
  width: 530px;
  margin-left: 25%;
  margin-top: 10px;
}

.footer-form textarea {
  width: 530px;
  margin-left: 25%;
  margin-top: 10px;
}

.footer-section-btn {
  margin-left: 25%;
}

.footer-section-btn a {
  color: #fff;
}

.footer-section-btn button {
  background-color: #053838;
  color: #fff;
  width: 530px;
  line-height: 40px;
  margin: 20px 0;
  text-align: center;
  justify-content: center;
  box-shadow: 0 1px 2px #5e5d5b;
  border: none;
  cursor: pointer;
}

.footer-section-icon {
  color: #fff;
  background-color: #05b9b9;
  float: right;
  height: 40px !important;
  width: 40px !important;
  font-size: 40px !important;
}
/* -----------------------------------------footer-section-adress----------------------------------------- */
.footer-section-adress {
  flex: 50%;
  background-color: #808382;
  color: #fff;
}

.footer-section-adress-content {
  margin-left: 100px;
  margin-top: 70px;
}

.footer-section-adress-content-icon {
  display: flex;
}
.footer-section-adress-content-icon .common {
  flex: 70%;
  margin-left: 30px;
}
.footer-section-adress-content-icon i {
  flex: 30;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.footer-section-adress-content h1 {
  font-size: 18px;
}
.footer-section-adress-content p {
  font-size: 12px;
}
.footer-section-adress-content a {
  color: #fff;
  font-size: 12px;
}

.footer-section-adress-content h2 {
  margin-top: 10px;
  font-size: 16px;
}
.footer-section-adress-content h3 {
  margin-top: 20px;
  font-size: 14;
}

.footer-section-adress-content button {
  background-color: #053838;
  color: #fff;
  width: 180px;
  line-height: 40px;
  margin: 20px 0 20px 45px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 1px 2px #5e5d5b;
  border: none;
  cursor: pointer;
}

.footer-section-content-icon {
  color: #fff;
  background-color: #05b9b9;
  float: right;
  height: 40px !important;
  width: 40px !important;
  font-size: 38px !important;
}

/* --------------------------------------policy--------------------------------------------- */
.policy {
  margin-top: 30px;
}

.policy-content p {
  font-size: 12px;
}
.policy-content {
  margin-left: 13%;
  margin-bottom: 20px;
}

.policy-content a {
  color: #008080;
}

/* ------------------------------------media queries----------------------------------- */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 16px;
    font-weight: bold;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 10px;
  }

  .container {
    object-fit: cover;
    height: 50vh;
    color: #fff;
  }
  .logo {
    margin: 0;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
    padding-top: 0;
    align-items: unset;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background-color: rgba(11, 94, 89, 0.9);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -30%);
    transition: all 2s ease-out;
    pointer-events: none;
  }

  .nav-text {
    margin-right: 0;
  }

  li {
    margin: 20px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% 30%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }

  /* --------------------------------hero------------------------------------------------- */

  .hero-text {
    text-shadow: 0 0 15px #0f0f0f;
    color: #fff;
    margin: 100px 50px 100px 50px;
    text-align: center;
    font-weight: 500;
  }
  /* ---------------------------------------section-------------------------------------------- */

  .section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
  }

  .section-content-h1 {
    margin-top: 10px;
  }

  .section-content-h1 p {
    margin-top: 20px;
    color: rgb(109, 107, 107);
    font-weight: 300;
  }

  .section-content-h2 {
    margin-top: 100px;
  }

  .section-content-h2 h2 {
    margin-top: 5px;
  }

  .section-content-h2 ul {
    margin: 20px;
    color: rgb(109, 107, 107);
    font-weight: 300;
  }

  .section-content-h3 {
    margin-top: 50px;
  }

  .section-content-h3 h3 {
    margin-top: 5px;
  }

  .section-content-h3 p {
    margin-top: 20px;
    color: rgb(109, 107, 107);
    font-weight: 300;
  }

  .section-content-nested {
    background: rgb(248, 242, 242);
    margin: 10px 0px 10px 0px;
    padding: 5px;
  }

  .section-content-nested h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 40px;
  }

  /* ---------------------------------------------------footer------------------------------------------ */

  .footer-section {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-section-form {
    background-color: #008080;
    flex: 50%;
  }

  .footer-form h1 {
    margin-left: 20px;
    margin-top: 50px;
  }

  .footer-form p {
    margin-left: 20px;
  }

  #footer-bold {
    font-weight: bolder;
  }

  .footer-form input {
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .footer-form textarea {
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .footer-section-btn {
    margin-left: 20px;
  }

  .footer-section-btn a {
    color: #fff;
  }

  .footer-section-btn button {
    background-color: #053838;
    color: #fff;
    width: 500px;
    line-height: 40px;
    margin: 20px 0;
    text-align: center;
    justify-content: center;
    box-shadow: 0 1px 2px #5e5d5b;
    border: none;
    cursor: pointer;
    
  }

  .footer-section-icon {
    color: #fff;
    background-color: #05b9b9;
    float: right;
    height: 40px !important;
    width: 40px !important;
    font-size: 40px !important;
  }
}


/* -----------------------------------------------490---------------------------------------------------------------- */

@media screen and (max-width: 490px) {
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 10px;
  }

  .logo {
    margin: auto;
  }

  .container {
    object-fit: cover;
    height: 50vh;
    color: #fff;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
    padding-top: 0;
    align-items: unset;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -30%);
    transition: all 2s ease-out;
    pointer-events: none;
  }

  .nav-text {
    margin: 25px 70px 20px 20px;
  }

  li {
    margin: 20px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% 30%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }

  /* ---------------------------------------section-------------------------------------------- */

  .section {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
  }

  .section-content {
    width: auto;
  }

  .section-content-h1 {
    width: auto;
  }

  .section-content-h1 {
    margin-top: 10px;
  }

  .section-content-h1 p {
    margin-top: 20px;
    color: rgb(109, 107, 107);
    font-weight: 300;
  }

  .section-content-h2 {
    width: auto;
    margin-top: 100px;
  }

  .section-content-h2 h2 {
    margin-top: 5px;
    font-size: 16px;
  }

  .section-content-h2 ul {
    margin: 20px;
    color: rgb(109, 107, 107);
    font-weight: 300;
  }

  .section-content-h3 {
    width: auto;
    margin-top: 50px;
  }

  .section-content-h3 h3 {
    margin-top: 5px;
    font-size: 16;
    font-weight: bolder;
  }

  .section-content-h3 p {
    margin-top: 20px;
    color: rgb(109, 107, 107);
    font-weight: 300;
  }

  .section-content-nested {
    background: rgb(248, 242, 242);
    margin: 10px 0px 10px 0px;
    padding: 5px;
    font-size: 12px;
    font-weight: 300;
  }

  .section-content-nested h3 {
    font-size: 16px;
    font-weight: 300;
    padding: 20px 20px;
  }

  /* ---------------------------------------------------footer------------------------------------------ */

  .footer-section {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-section-form {
    background-color: #008080;
    flex: 50%;
  }

  .footer-form h1 {
    margin-left: 10px;
    margin-top: 50px;
  }

  .footer-form p {
    margin-left: 10px;
  }

  #footer-bold {
    font-weight: bolder;
  }

  .footer-form input {
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .footer-form textarea {
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .footer-section-btn {
    margin-left: 10px;
  }

  .footer-section-btn a {
    color: #fff;
    font-size: 12px;
  }

  .footer-section-btn button {
    background-color: #053838;
    color: #fff;
    width: 300px;
    line-height: 40px;
    margin: 20px 5px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 1px 2px #5e5d5b;
    border: none;
    cursor: pointer;
  }

  .footer-section-icon {
    color: #fff;
    background-color: #05b9b9;
    float: right;
    height: 40px !important;
    width: 40px !important;
    font-size: 40px !important;
  }

  /* -----------------------------------------footer-section-adress----------------------------------------- */
  .footer-section-adress {
    flex: 50%;
    background-color: #808382;
    color: #fff;
  }

  .footer-section-adress-content {
    margin-left: 30px;
    margin-top: 50px;
  }

  .footer-section-adress-content-icon {
    display: flex;
  }
  .footer-section-adress-content-icon .common {
    flex: 70%;
    margin-left: 30px;
  }
  .footer-section-adress-content-icon i {
    flex: 30;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .footer-section-adress-content h1 {
    font-size: 18px;
  }
  .footer-section-adress-content p {
    font-size: 12px;
  }
  .footer-section-adress-content a {
    color: #fff;
    font-size: 12px;
  }

  .footer-section-adress-content h2 {
    margin-top: 10px;
    font-size: 16px;
  }
  .footer-section-adress-content h3 {
    margin-top: 20px;
    font-size: 14;
  }

  .footer-section-adress-content button {
    background-color: #053838;
    color: #fff;
    width: 150px;
    line-height: 40px;
    margin: 20px 0 20px 45px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 1px 2px #5e5d5b;
    border: none;
    cursor: pointer;
  }

  .footer-section-content-icon {
    color: #fff;
    background-color: #05b9b9;
    float: right;
    height: 40px !important;
    width: 40px !important;
    font-size: 38px !important;
  }

  /* --------------------------------------policy--------------------------------------------- */
  .policy {
    margin-top: 30px;
    text-align: start;
  }

  .policy-content p {
    font-size: 10px;
  }
  .policy-content {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .policy-content a {
    color: #008080;
    font-size: 10px;
  }
}
